# Loonie Weekly Reporting – Quick Data Peek

This notebook finds the first CSV in the `data/` folder and shows a quick preview to understand the structure before building reports.

- Loads the data with pandas
- Prints basic shape and column dtypes
- Shows `head()` and `describe()`

In [2]:
from pathlib import Path
import pandas as pd

# Load
df = pd.read_csv('/Users/starsrain/2025_concord/loonie_reporting/data/1216_loonie_data.csv')

# Quick structure and peek

print("\nShape:", df.shape)
print("\nDtypes:\n", df.dtypes)

display(df.head(10))

Shape: (18794, 37)

Dtypes:
 Application_ID            int64
PortfolioID               int64
CustomerID                int64
ApplicationDate          object
CustEmail                object
NewlyScored               int64
Accepted                  int64
LeadPurchasePrice       float64
PartialPreApproved        int64
Originated                int64
LoanID                   object
Age                     float64
Frequency                object
OriginatedAmount        float64
Provider_name            object
OriginationDate          object
LOANSTATUS               object
CustType                 object
RenewalLoanId            object
B1ExtResponse            object
B2ExtResponse            object
NDScore                 float64
IBVScore                float64
NDBand                  float64
IBVBand                 float64
FPDFA                   float64
FPDAA                   float64
PaidOffPaymentAmount    float64
PmtCount                float64
PmtReturn               float64
Payin                   float64
IsGood                    int64
RenewalPaymentAmount    float64
AmtDeductedfromLA       float64
ContractLoanAmt         float64
Renew_msg                 int64
Next_Loan_STATUS        float64
dtype: object

,Application_ID,PortfolioID,CustomerID,ApplicationDate,CustEmail,NewlyScored,Accepted,LeadPurchasePrice,PartialPreApproved,Originated,...,PaidOffPaymentAmount,PmtCount,PmtReturn,Payin,IsGood,RenewalPaymentAmount,AmtDeductedfromLA,ContractLoanAmt,Renew_msg,Next_Loan_STATUS
0,9745,1,3351,2023-11-22 14:59:48.000,booyah2048@gmail.com,0,1,0.0,0,1,...,812.70,6.0,0.0,1.625400,1,NaN,NaN,NaN,1,1.0
1,9827,1,3673,2023-11-24 15:02:02.000,ryanzizek@gmail.com,0,1,0.0,0,1,...,135.45,4.0,3.0,0.270900,0,NaN,NaN,NaN,1,NaN
2,9977,1,3491,2023-11-29 06:49:26.000,jhong_anne27@yahoo.com,0,1,0.0,0,1,...,2002.25,5.0,0.0,1.334833,1,397.5,NaN,NaN,1,2.0
3,10063,1,5232,2023-11-30 08:35:22.000,bh05150@gmail.com,1,1,0.0,0,1,...,1210.20,6.0,0.0,1.613600,1,NaN,NaN,NaN,1,1.0
4,10181,1,3844,2023-12-01 12:57:37.000,NaN,1,1,5.0,0,1,...,762.48,10.0,1.0,0.956628,0,NaN,79.5,717.55,0,NaN
5,10228,1,3809,2023-12-02 05:30:10.000,shannonxxooxx@gmail.com,0,1,0.0,0,1,...,0.00,1.0,1.0,0.000000,0,NaN,NaN,NaN,0,NaN
6,10278,1,5331,2023-12-04 12:50:11.000,robbins_always22@hotmail.com,1,1,0.0,0,1,...,614.70,8.0,2.0,2.049000,1,NaN,NaN,NaN,0,1.0
7,10395,1,5390,2023-12-05 15:08:56.000,Kedmonton760@gmail.com,1,1,20.0,0,1,...,494.70,6.0,0.0,1.649000,1,NaN,NaN,NaN,1,1.0
8,10464,1,2921,2023-12-07 09:43:37.000,beckypetten@hotmail.com,0,1,0.0,0,1,...,383.90,7.0,4.0,0.639833,0,NaN,NaN,NaN,0,NaN
9,10478,1,5429,2023-12-07 11:48:24.000,cathriona87.cm@gmail.com,1,1,0.0,0,1,...,412.25,5.0,0.0,1.374167,1,79.5,NaN,NaN,1,2.0

In [3]:
# Column-specific validity masks
nd_valid = pd.to_numeric(df["NDScore"], errors="coerce") != 999
ibv_valid = df["IBVScore"].notna()  # adjust if IBV has its own sentinel

# DataFrames for each analysis
df_ibv = df.loc[ibv_valid].copy()          # do NOT filter on NDScore here
df_nd  = df.loc[nd_valid].copy()           # filter only NDScore==999 rows for ND analyses

## Null checks: Payin and IsGood

The cell below prints null counts for `Payin` and `IsGood` and shows sample rows with missing values if any are found.

In [4]:
required_cols = df.columns
missing = [c for c in required_cols if c not in df.columns]

if missing:
    print(f"Missing required columns for null check: {missing}")
else:
    null_counts = df[required_cols].isna().sum()
    print("Null counts for Payin/IsGood:\n", null_counts)
    total_null_rows = int(df[required_cols].isna().any(axis=1).sum())
    print(f"\nRows with any null among {required_cols}: {total_null_rows}")
    if total_null_rows > 0:
        print("\nSample rows with nulls (first 20):")
        display(df[df[required_cols].isna().any(axis=1)][required_cols].head(20))

Null counts for Payin/IsGood:
 Application_ID              0
PortfolioID                 0
CustomerID                  0
ApplicationDate             0
CustEmail                3525
NewlyScored                 0
Accepted                    0
LeadPurchasePrice           0
PartialPreApproved          0
Originated                  0
LoanID                      0
Age                      3525
Frequency                3525
OriginatedAmount            0
Provider_name               0
OriginationDate             6
LOANSTATUS                  0
CustType                    0
RenewalLoanId               1
B1ExtResponse              57
B2ExtResponse              57
NDScore                    57
IBVScore                   57
NDBand                     57
IBVBand                    57
FPDFA                      43
FPDAA                     962
PaidOffPaymentAmount      641
PmtCount                  641
PmtReturn                 641
Payin                       0
IsGood                      0
RenewalPaymentAmount    14926
AmtDeductedfromLA       15286
ContractLoanAmt         15286
Renew_msg                   0
Next_Loan_STATUS        11024
dtype: int64

Rows with any null among Index(['Application_ID', 'PortfolioID', 'CustomerID', 'ApplicationDate',
       'CustEmail', 'NewlyScored', 'Accepted', 'LeadPurchasePrice',
       'PartialPreApproved', 'Originated', 'LoanID', 'Age', 'Frequency',
       'OriginatedAmount', 'Provider_name', 'OriginationDate', 'LOANSTATUS',
       'CustType', 'RenewalLoanId', 'B1ExtResponse', 'B2ExtResponse',
       'NDScore', 'IBVScore', 'NDBand', 'IBVBand', 'FPDFA', 'FPDAA',
       'PaidOffPaymentAmount', 'PmtCount', 'PmtReturn', 'Payin', 'IsGood',
       'RenewalPaymentAmount', 'AmtDeductedfromLA', 'ContractLoanAmt',
       'Renew_msg', 'Next_Loan_STATUS'],
      dtype='object'): 18794

Sample rows with nulls (first 20):

,Application_ID,PortfolioID,CustomerID,ApplicationDate,CustEmail,NewlyScored,Accepted,LeadPurchasePrice,PartialPreApproved,Originated,...,PaidOffPaymentAmount,PmtCount,PmtReturn,Payin,IsGood,RenewalPaymentAmount,AmtDeductedfromLA,ContractLoanAmt,Renew_msg,Next_Loan_STATUS
0,9745,1,3351,2023-11-22 14:59:48.000,booyah2048@gmail.com,0,1,0.0,0,1,...,812.70,6.0,0.0,1.625400,1,NaN,NaN,NaN,1,1.0
1,9827,1,3673,2023-11-24 15:02:02.000,ryanzizek@gmail.com,0,1,0.0,0,1,...,135.45,4.0,3.0,0.270900,0,NaN,NaN,NaN,1,NaN
2,9977,1,3491,2023-11-29 06:49:26.000,jhong_anne27@yahoo.com,0,1,0.0,0,1,...,2002.25,5.0,0.0,1.334833,1,397.50,NaN,NaN,1,2.0
3,10063,1,5232,2023-11-30 08:35:22.000,bh05150@gmail.com,1,1,0.0,0,1,...,1210.20,6.0,0.0,1.613600,1,NaN,NaN,NaN,1,1.0
4,10181,1,3844,2023-12-01 12:57:37.000,NaN,1,1,5.0,0,1,...,762.48,10.0,1.0,0.956628,0,NaN,79.50,717.55,0,NaN
5,10228,1,3809,2023-12-02 05:30:10.000,shannonxxooxx@gmail.com,0,1,0.0,0,1,...,0.00,1.0,1.0,0.000000,0,NaN,NaN,NaN,0,NaN
6,10278,1,5331,2023-12-04 12:50:11.000,robbins_always22@hotmail.com,1,1,0.0,0,1,...,614.70,8.0,2.0,2.049000,1,NaN,NaN,NaN,0,1.0
7,10395,1,5390,2023-12-05 15:08:56.000,Kedmonton760@gmail.com,1,1,20.0,0,1,...,494.70,6.0,0.0,1.649000,1,NaN,NaN,NaN,1,1.0
8,10464,1,2921,2023-12-07 09:43:37.000,beckypetten@hotmail.com,0,1,0.0,0,1,...,383.90,7.0,4.0,0.639833,0,NaN,NaN,NaN,0,NaN
9,10478,1,5429,2023-12-07 11:48:24.000,cathriona87.cm@gmail.com,1,1,0.0,0,1,...,412.25,5.0,0.0,1.374167,1,79.50,NaN,NaN,1,2.0
10,10496,1,1471,2023-12-08 06:27:55.000,NaN,0,1,0.0,0,1,...,253.91,2.0,1.0,0.268106,0,NaN,119.25,827.80,1,NaN
11,10546,1,3676,2023-12-08 16:51:18.000,lauriedurnan@gmail.com,0,1,0.0,0,1,...,971.70,6.0,0.0,1.619500,1,NaN,NaN,NaN,1,1.0
12,10749,1,5549,2023-12-13 11:55:36.000,michealriviere@live.com,1,1,0.0,0,1,...,554.70,7.0,1.0,1.849000,1,NaN,NaN,NaN,1,1.0
13,10814,1,687,2023-12-14 06:19:14.000,billy.duckworth@hotmail.com,0,1,0.0,0,1,...,538.15,7.0,2.0,2.152600,1,NaN,NaN,NaN,1,NaN
14,10881,1,3508,2023-12-14 15:15:50.000,leopat2005@gmail.com,0,1,0.0,0,1,...,1008.50,5.0,0.0,1.344667,1,198.75,NaN,NaN,1,2.0
15,10913,1,3907,2023-12-15 12:31:38.000,mtjijenda@yahoo.com,0,1,0.0,0,1,...,0.00,6.0,6.0,0.000000,0,NaN,NaN,NaN,1,NaN
16,10932,1,5633,2023-12-15 13:22:16.000,gavin.kenrick1@gmail.com,1,1,0.0,0,1,...,141.16,3.0,1.0,0.282320,0,NaN,NaN,NaN,0,NaN
17,10963,1,3937,2023-12-16 14:16:03.000,NaN,1,1,20.0,0,1,...,1339.75,6.0,1.0,1.339750,1,NaN,132.50,867.50,1,NaN
18,11167,1,1558,2023-12-19 17:38:16.000,cbelleoneill@gmail.com,0,1,0.0,0,1,...,653.70,6.0,0.0,1.634250,1,NaN,NaN,NaN,1,1.0
19,11231,1,3150,2023-12-20 12:14:34.000,jacjulie2@hotmail.com,0,1,0.0,0,1,...,0.00,4.0,4.0,0.000000,0,NaN,NaN,NaN,1,NaN

In [5]:
from pathlib import Path
import sys

project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

# optional: verify
import os
print("CWD:", os.getcwd())
print("On sys.path:", project_root)

CWD: /Users/starsrain/2025_concord/loonie_reporting/notebooks
On sys.path: /Users/starsrain/2025_concord/loonie_reporting

In [6]:
%load_ext autoreload
%autoreload 2

import importlib
import loonie_reporting, loonie_reporting.reporting as reporting
importlib.reload(loonie_reporting)
importlib.reload(reporting)

from loonie_reporting import (
    band_report,
    band_and_report_from_scores_percentiles,
)

## Weekly band report tables

Run this section after the data preview. Set `score_cols` to the score columns you want to band (e.g., `IBVScore`, `NDScore`). The code will create 5 bands via KMeans and output the performance table per band.

In [7]:
# Import the reporting helpers (make sure project root is on sys.path)
from pathlib import Path
import sys

project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

try:
    from loonie_reporting import band_report
except Exception as e:
    raise ImportError("Could not import reporting utilities. Ensure the package directory 'loonie_reporting/' exists at project root.") from e

# Use existing band columns directly (no KMeans)
band_cols = [
    "IBVBand",
    "NDBand",
]

# Sanity checks
required = ["IsGood", "Payin"]
missing_req = [c for c in required if c not in df.columns]
if missing_req:
    raise KeyError(f"DataFrame is missing required columns for reporting: {missing_req}")

for band_col in band_cols:
    if band_col not in df.columns:
        print(f"[skip] {band_col} not found in df; update band_cols if needed.")
        continue

    # For NDBand analyses, exclude sentinel NDScore == 999 rows from KPIs
    if band_col == "NDBand" and "NDScore" in df.columns:
        df_band_input = df[pd.to_numeric(df["NDScore"], errors="coerce") != 999].copy()
    else:
        df_band_input = df.copy()

    # ensure band values are numeric (1..5); NaNs will be excluded from the table
    df_band_input[band_col] = pd.to_numeric(df_band_input[band_col], errors="coerce")

    print(f"\n=== Report by {band_col} (existing bands) ===")
    print(f"Missing {band_col}: {int(df_band_input[band_col].isna().sum())}")
    table = band_report(df_band_input, band_col=band_col, is_good_col="IsGood", payin_col="Payin")
    table.index.name = band_col
    display(table)

=== Report by IBVBand (existing bands) ===
Missing IBVBand: 57

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
IBVBand,,,,,,,,
0,1.105131,1.554918,0.322893,126,0.672466,80,63.492063,1.055446
2,0.992073,1.564274,0.298794,1872,9.990927,1020,54.487179,1.055109
3,1.162386,1.589941,0.331162,993,5.299674,646,65.055388,1.062159
4,1.041915,1.520761,0.341654,11372,60.692747,6604,58.072459,1.055838
5,1.092039,1.524030,0.353339,4374,23.344185,2707,61.888432,1.092039

=== Report by NDBand (existing bands) ===
Missing NDBand: 57

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
NDBand,,,,,,,,
0,1.310119,1.820643,0.331615,35,0.266403,23,65.714286,1.008990
1,0.000000,NaN,0.000000,1,0.007612,0,0.000000,1.008186
2,1.031981,1.562087,0.324334,2423,18.442685,1366,56.376393,1.008263
3,1.025472,1.537872,0.333673,7381,56.180545,4168,56.469313,1.002882
4,0.950897,1.507196,0.329894,2292,17.445578,1177,51.352531,0.952324
5,0.955574,1.484521,0.323744,1006,7.657178,525,52.186879,0.955574

## Score-based tables using percentile bands (Top 10% = Band 5)

This section creates bands from score columns using percentiles, isolating the safest top 10% as Band 5 and splitting the remaining 90% evenly into the other bands. It then aggregates the same performance metrics per band.

In [12]:
# Import percentile helpers
from pathlib import Path
import sys

project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

from loonie_reporting import band_and_report_from_scores_percentiles

score_cols = [
    "IBVScore",
    "NDScore",
]

# ensure numeric scores (non-numeric coerced to NaN and ignored in banding)
for c in score_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")

for col in score_cols:
    if col not in df.columns:
        print(f"[skip] {col} not in df")
        continue

    print(f"\n=== Percentile bands for {col} (Band 5 = top 10%) ===")
    bands, table = band_and_report_from_scores_percentiles(
        df=df,
        score_col=col,
        num_bands=5,      # total bands (1 top 10% + 4 equal bands across remaining 90%)
        top_tail=0.05,    # top 10%
        higher_is_better=True,
        best_band_is_highest=True,
    )
    table.index.name = f"{col}_PercentileBand"
    display(table)

=== Percentile bands for IBVScore (Band 5 = top 10%) ===

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
IBVScore_PercentileBand,,,,,,,,
1,0.976247,1.558320,0.301886,2856,23.748545,1511,52.906162,1.005412
2,0.968516,1.527180,0.354588,2856,23.748545,1452,50.840336,1.014496
3,1.017819,1.524711,0.361549,2856,23.748545,1581,55.357143,1.035294
4,1.043394,1.525327,0.376367,2857,23.756860,1634,57.192860,1.049726
5,1.079824,1.525495,0.362736,601,4.997505,363,60.399334,1.079824

=== Percentile bands for NDScore (Band 5 = top 10%) ===

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
NDScore_PercentileBand,,,,,,,,
1,1.053431,1.564667,0.351288,2856,23.748545,1623,56.827731,1.005412
2,1.020207,1.538955,0.338830,2856,23.748545,1591,55.707283,0.990457
3,0.986388,1.508167,0.344628,2856,23.748545,1545,54.096639,0.977000
4,0.960462,1.521924,0.352864,2857,23.756860,1455,50.927546,0.969246
5,1.011004,1.517495,0.375075,601,4.997505,327,54.409318,1.011004

In [15]:
from loonie_reporting import band_and_report_from_scores_percentiles

# IBV percentiles (no ND filter)
ibv_bands, ibv_pct_tbl = band_and_report_from_scores_percentiles(
    df=df_ibv, score_col="IBVScore", num_bands=5, top_tail=0.10, higher_is_better=True, best_band_is_highest=True
)
display(ibv_pct_tbl)

# ND percentiles (drop 999)
nd_bands, nd_pct_tbl = band_and_report_from_scores_percentiles(
    df=df_nd, score_col="NDScore", num_bands=5, top_tail=0.10, higher_is_better=True, best_band_is_highest=True
)
display(nd_pct_tbl)

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
Band,,,,,,,,
1,1.032297,1.558155,0.313169,3831,22.503524,2186,57.060820,1.049107
2,1.018291,1.524198,0.362596,3830,22.497650,2108,55.039164,1.053988
3,1.043993,1.518184,0.368761,3830,22.497650,2206,57.597911,1.068590
4,1.078811,1.521180,0.380527,3831,22.503524,2310,60.297572,1.085616
5,1.100933,1.524884,0.377412,1702,9.997650,1056,62.044653,1.100933

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
Band,,,,,,,,
1,1.054042,1.566081,0.351013,2706,22.501247,1537,56.799704,1.005412
2,1.024892,1.539374,0.338220,2706,22.501247,1518,56.097561,0.991293
3,0.994179,1.508925,0.347389,2706,22.501247,1477,54.582409,0.977546
4,0.955295,1.529785,0.346514,2706,22.501247,1370,50.628234,0.966030
5,0.990197,1.503030,0.371513,1202,9.995011,639,53.161398,0.990197

## Exact score cutoffs for top 10% and top 5%

This computes the 90th and 95th percentile thresholds for each score column (higher = safer). Values ≥ the 90th/95th percentile are in the top 10%/5%.

In [8]:
import numpy as np
import pandas as pd

score_cols = ["IBVScore", "NDScore"]  # adjust if you have different score columns

for col in score_cols:
    if col not in df.columns:
        print(f"[skip] {col} not in df")
        continue

    s = pd.to_numeric(df[col], errors="coerce")
    n = int(s.notna().sum())
    if n == 0:
        print(f"[skip] {col} has no numeric values")
        continue

    p90 = s.quantile(0.90)
    p95 = s.quantile(0.95)

    print(f"\nScore cutoffs for {col} (higher = safer):")
    print(f"- 90th percentile (top 10%): {p90}")
    print(f"- 95th percentile (top 5%):  {p95}")
    print(f"- Non-null count: {n}")

Score cutoffs for IBVScore (higher = safer):
- 90th percentile (top 10%): 765.0
- 95th percentile (top 5%):  772.0
- Non-null count: 18737

Score cutoffs for NDScore (higher = safer):
- 90th percentile (top 10%): 999.0
- 95th percentile (top 5%):  999.0
- Non-null count: 18737

In [11]:
num_empty = (df['NDScore'] == 999).sum()  # here: tied to NDB["results"] == []
print("Unscorable (empty NDB results):", num_empty)
print(df['NDBand'].value_counts(dropna=False).sort_index())

Unscorable (empty NDB results): 0
NDBand
0.0      35
1.0       1
2.0    2313
3.0    6879
4.0    1986
5.0     812
NaN      55
Name: count, dtype: int64