# Loonie Weekly Reporting – Quick Data Peek

This notebook finds the first CSV in the `data/` folder and shows a quick preview to understand the structure before building reports.

- Loads the data with pandas
- Prints basic shape and column dtypes
- Shows `head()` and `describe()`

In [13]:
from pathlib import Path
import pandas as pd

# Load
df = pd.read_csv('/Users/starsrain/2025_concord/loonie_reporting/data/1107_loonie_data.csv')

# Quick structure and peek

print("\nShape:", df.shape)
print("\nDtypes:\n", df.dtypes)

display(df.head(10))

Shape: (17079, 37)

Dtypes:
 Application_ID            int64
PortfolioID               int64
CustomerID                int64
ApplicationDate          object
CustEmail                object
NewlyScored               int64
Accepted                  int64
LeadPurchasePrice       float64
PartialPreApproved        int64
Originated                int64
LoanID                   object
Age                     float64
Frequency                object
OriginatedAmount        float64
Provider_name            object
OriginationDate          object
LOANSTATUS               object
CustType                 object
RenewalLoanId            object
B1ExtResponse            object
B2ExtResponse            object
NDScore                 float64
IBVScore                float64
NDBand                  float64
IBVBand                 float64
FPDFA                   float64
FPDAA                   float64
PaidOffPaymentAmount    float64
PmtCount                float64
PmtReturn               float64
Payin                   float64
IsGood                    int64
RenewalPaymentAmount    float64
AmtDeductedfromLA       float64
ContractLoanAmt         float64
Renew_msg                 int64
Next_Loan_STATUS        float64
dtype: object

,Application_ID,PortfolioID,CustomerID,ApplicationDate,CustEmail,NewlyScored,Accepted,LeadPurchasePrice,PartialPreApproved,Originated,...,PaidOffPaymentAmount,PmtCount,PmtReturn,Payin,IsGood,RenewalPaymentAmount,AmtDeductedfromLA,ContractLoanAmt,Renew_msg,Next_Loan_STATUS
0,5063,1,3139,2023-08-09 13:33:29.000,brett.hunt@live.com,1,1,0.0,0,1,...,69.20,4.0,3.0,0.276800,0,NaN,NaN,NaN,0,NaN
1,5149,1,3193,2023-08-10 11:21:47.000,vutruong0513@gmail.com,1,1,0.0,0,1,...,0.00,4.0,4.0,0.000000,0,NaN,NaN,NaN,0,NaN
2,5167,1,3206,2023-08-10 12:50:17.000,kevin_pepe@hotmail.com,1,1,0.0,0,1,...,176.70,6.0,0.0,0.883500,0,NaN,NaN,NaN,0,1.0
3,5199,1,3182,2023-08-10 15:27:57.000,csa212.ca@gmail.com,1,1,0.0,0,1,...,0.00,1.0,1.0,0.000000,0,NaN,NaN,NaN,0,NaN
4,5364,1,683,2023-08-15 10:51:53.000,NaN,1,1,0.0,0,1,...,307.95,2.0,0.0,0.307950,0,NaN,132.5,867.5,1,NaN
5,5417,1,3293,2023-08-15 17:55:13.000,ladeebuglisa@hotmail.com,1,1,0.0,0,1,...,329.80,6.0,2.0,1.099333,1,NaN,NaN,NaN,0,NaN
6,5531,1,3378,2023-08-18 08:05:58.000,molly.j.perry@gmail.com,1,1,0.0,0,1,...,406.35,6.0,3.0,0.812700,0,NaN,NaN,NaN,0,NaN
7,5617,1,1184,2023-08-20 12:36:28.000,NaN,1,1,20.0,0,1,...,535.90,2.0,0.0,0.535900,0,NaN,132.5,867.5,1,NaN
8,5635,1,3429,2023-08-21 10:21:29.000,k.fratric19@gmail.com,1,1,5.0,0,1,...,494.70,6.0,0.0,1.649000,1,NaN,NaN,NaN,1,NaN
9,5849,1,3507,2023-08-24 16:52:02.000,Corymaclean9@gmail.com,1,1,5.0,0,1,...,69.20,5.0,4.0,0.138400,0,NaN,NaN,NaN,0,NaN

In [14]:
# Column-specific validity masks
nd_valid = pd.to_numeric(df["NDScore"], errors="coerce") != 999
ibv_valid = df["IBVScore"].notna()  # adjust if IBV has its own sentinel

# DataFrames for each analysis
df_ibv = df.loc[ibv_valid].copy()          # do NOT filter on NDScore here
df_nd  = df.loc[nd_valid].copy()           # filter only NDScore==999 rows for ND analyses

## Null checks: Payin and IsGood

The cell below prints null counts for `Payin` and `IsGood` and shows sample rows with missing values if any are found.

In [4]:
required_cols = df.columns
missing = [c for c in required_cols if c not in df.columns]

if missing:
    print(f"Missing required columns for null check: {missing}")
else:
    null_counts = df[required_cols].isna().sum()
    print("Null counts for Payin/IsGood:\n", null_counts)
    total_null_rows = int(df[required_cols].isna().any(axis=1).sum())
    print(f"\nRows with any null among {required_cols}: {total_null_rows}")
    if total_null_rows > 0:
        print("\nSample rows with nulls (first 20):")
        display(df[df[required_cols].isna().any(axis=1)][required_cols].head(20))

Null counts for Payin/IsGood:
 Application_ID             0
PortfolioID                0
CustomerID                 0
ApplicationDate            0
CustEmail               2121
NewlyScored                0
Accepted                   0
LeadPurchasePrice          0
PartialPreApproved         0
Originated                 0
LoanID                     0
Age                     2121
Frequency               2121
OriginatedAmount           0
Provider_name              0
OriginationDate            1
LOANSTATUS                 0
CustType                   0
RenewalLoanId              0
B1ExtResponse             55
B2ExtResponse             55
NDScore                   55
IBVScore                  55
NDBand                    55
IBVBand                   55
FPDFA                     32
FPDAA                    502
PaidOffPaymentAmount     281
PmtCount                 281
PmtReturn                281
Payin                      0
IsGood                     0
RenewalPaymentAmount    9767
AmtDeductedfromLA       9974
ContractLoanAmt         9974
Renew_msg                  0
Next_Loan_STATUS        7503
dtype: int64

Rows with any null among Index(['Application_ID', 'PortfolioID', 'CustomerID', 'ApplicationDate',
       'CustEmail', 'NewlyScored', 'Accepted', 'LeadPurchasePrice',
       'PartialPreApproved', 'Originated', 'LoanID', 'Age', 'Frequency',
       'OriginatedAmount', 'Provider_name', 'OriginationDate', 'LOANSTATUS',
       'CustType', 'RenewalLoanId', 'B1ExtResponse', 'B2ExtResponse',
       'NDScore', 'IBVScore', 'NDBand', 'IBVBand', 'FPDFA', 'FPDAA',
       'PaidOffPaymentAmount', 'PmtCount', 'PmtReturn', 'Payin', 'IsGood',
       'RenewalPaymentAmount', 'AmtDeductedfromLA', 'ContractLoanAmt',
       'Renew_msg', 'Next_Loan_STATUS'],
      dtype='object'): 12081

Sample rows with nulls (first 20):

,Application_ID,PortfolioID,CustomerID,ApplicationDate,CustEmail,NewlyScored,Accepted,LeadPurchasePrice,PartialPreApproved,Originated,...,PaidOffPaymentAmount,PmtCount,PmtReturn,Payin,IsGood,RenewalPaymentAmount,AmtDeductedfromLA,ContractLoanAmt,Renew_msg,Next_Loan_STATUS
0,5063,1,3139,2023-08-09 13:33:29.000,brett.hunt@live.com,1,1,0.0,0,1,...,69.20,4.0,3.0,0.276800,0,NaN,NaN,NaN,0,NaN
1,5149,1,3193,2023-08-10 11:21:47.000,vutruong0513@gmail.com,1,1,0.0,0,1,...,0.00,4.0,4.0,0.000000,0,NaN,NaN,NaN,0,NaN
3,5199,1,3182,2023-08-10 15:27:57.000,csa212.ca@gmail.com,1,1,0.0,0,1,...,0.00,1.0,1.0,0.000000,0,NaN,NaN,NaN,0,NaN
4,5364,1,683,2023-08-15 10:51:53.000,NaN,1,1,0.0,0,1,...,307.95,2.0,0.0,0.307950,0,NaN,132.5,867.5,1,NaN
5,5417,1,3293,2023-08-15 17:55:13.000,ladeebuglisa@hotmail.com,1,1,0.0,0,1,...,329.80,6.0,2.0,1.099333,1,NaN,NaN,NaN,0,NaN
6,5531,1,3378,2023-08-18 08:05:58.000,molly.j.perry@gmail.com,1,1,0.0,0,1,...,406.35,6.0,3.0,0.812700,0,NaN,NaN,NaN,0,NaN
7,5617,1,1184,2023-08-20 12:36:28.000,NaN,1,1,20.0,0,1,...,535.90,2.0,0.0,0.535900,0,NaN,132.5,867.5,1,NaN
8,5635,1,3429,2023-08-21 10:21:29.000,k.fratric19@gmail.com,1,1,5.0,0,1,...,494.70,6.0,0.0,1.649000,1,NaN,NaN,NaN,1,NaN
10,5882,1,3526,2023-08-25 15:15:05.000,jamestate734@gmail.com,1,1,5.0,0,1,...,135.45,1.0,0.0,0.270900,0,NaN,NaN,NaN,0,NaN
12,5917,1,3542,2023-08-28 11:57:06.000,nmourad@uottawa.ca,1,1,5.0,0,1,...,40.00,6.0,5.0,0.080000,0,NaN,NaN,NaN,0,NaN
13,5932,1,3551,2023-08-28 13:08:13.000,kayladb@live.com,1,1,5.0,0,1,...,82.45,6.0,5.0,0.274833,0,NaN,NaN,NaN,0,NaN
14,5967,1,16,2023-08-29 11:36:16.000,jlewit75@gmail.com,0,1,0.0,0,1,...,1182.62,24.0,1.0,3.942067,1,NaN,NaN,NaN,1,NaN
15,5985,1,3563,2023-08-29 12:22:45.000,rickpeltomaki@gmail.com,1,1,20.0,0,1,...,1042.44,11.0,3.0,2.084880,1,NaN,NaN,NaN,1,NaN
16,6067,1,1695,2023-08-31 10:15:36.000,NaN,1,1,0.0,0,1,...,1244.30,5.0,0.0,1.659067,1,NaN,265.0,485.0,0,1.0
17,6068,1,3594,2023-08-31 10:31:27.000,kkoblogina@gmail.com,1,1,20.0,0,1,...,270.90,3.0,1.0,0.541800,0,NaN,NaN,NaN,0,NaN
18,6085,1,3600,2023-08-31 13:10:36.000,ppaquin66@gmail.com,1,1,20.0,0,1,...,346.00,6.0,1.0,0.692000,0,NaN,NaN,NaN,0,NaN
19,6100,1,3609,2023-08-31 16:25:02.000,newfieguy32@hotmail.com,1,1,0.0,0,1,...,0.00,1.0,1.0,0.000000,0,NaN,NaN,NaN,0,NaN
20,6118,1,3618,2023-09-01 10:09:06.000,kfaieeze@yahoo.ca,1,1,20.0,0,1,...,276.80,5.0,1.0,0.553600,0,NaN,NaN,NaN,0,NaN
21,6167,1,1812,2023-09-04 04:37:54.000,t.o.neill1987@gmail.com,0,1,0.0,0,1,...,971.70,6.0,0.0,1.619500,1,NaN,NaN,NaN,1,NaN
22,6218,1,3647,2023-09-05 13:27:10.000,gdugdale07@hotmail.com,1,1,5.0,0,1,...,82.45,2.0,1.0,0.274833,0,NaN,NaN,NaN,0,NaN

In [6]:
from pathlib import Path
import sys

project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

# optional: verify
import os
print("CWD:", os.getcwd())
print("On sys.path:", project_root)

CWD: /Users/starsrain/2025_concord/loonie_reporting/notebooks
On sys.path: /Users/starsrain/2025_concord/loonie_reporting

In [7]:
%load_ext autoreload
%autoreload 2

import importlib
import loonie_reporting, loonie_reporting.reporting as reporting
importlib.reload(loonie_reporting)
importlib.reload(reporting)

from loonie_reporting import (
    band_report,
    band_and_report_from_scores_percentiles,
)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Weekly band report tables

Run this section after the data preview. Set `score_cols` to the score columns you want to band (e.g., `IBVScore`, `NDScore`). The code will create 5 bands via KMeans and output the performance table per band.

In [8]:
# Import the reporting helpers (make sure project root is on sys.path)
from pathlib import Path
import sys

project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

try:
    from loonie_reporting import band_report
except Exception as e:
    raise ImportError("Could not import reporting utilities. Ensure the package directory 'loonie_reporting/' exists at project root.") from e

# Use existing band columns directly (no KMeans)
band_cols = [
    "IBVBand",
    "NDBand",
]

# Sanity checks
required = ["IsGood", "Payin"]
missing_req = [c for c in required if c not in df.columns]
if missing_req:
    raise KeyError(f"DataFrame is missing required columns for reporting: {missing_req}")

for band_col in band_cols:
    if band_col not in df.columns:
        print(f"[skip] {band_col} not found in df; update band_cols if needed.")
        continue

    # For NDBand analyses, exclude sentinel NDScore == 999 rows from KPIs
    if band_col == "NDBand" and "NDScore" in df.columns:
        df_band_input = df[pd.to_numeric(df["NDScore"], errors="coerce") != 999].copy()
    else:
        df_band_input = df.copy()

    # ensure band values are numeric (1..5); NaNs will be excluded from the table
    df_band_input[band_col] = pd.to_numeric(df_band_input[band_col], errors="coerce")

    print(f"\n=== Report by {band_col} (existing bands) ===")
    print(f"Missing {band_col}: {int(df_band_input[band_col].isna().sum())}")
    table = band_report(df_band_input, band_col=band_col, is_good_col="IsGood", payin_col="Payin")
    table.index.name = band_col
    display(table)

=== Report by IBVBand (existing bands) ===
Missing IBVBand: 55

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
IBVBand,,,,,,,,
0,1.038673,1.540868,0.341179,86,0.715117,50,58.139535,1.005412
2,0.952117,1.560294,0.292309,1550,12.888741,800,51.612903,1.005173
3,1.098091,1.601201,0.314566,750,6.236488,449,59.866667,1.013088
4,0.988697,1.522281,0.356368,6935,57.666722,3674,52.977650,1.006474
5,1.052050,1.525571,0.372393,2705,22.492932,1568,57.966728,1.052050

=== Report by NDBand (existing bands) ===
Missing NDBand: 55

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
NDBand,,,,,,,,
0,1.254881,1.736585,0.331615,35,0.291036,23,65.714286,1.005412
1,0.000000,NaN,0.000000,1,0.008315,0,0.000000,1.004684
2,1.019710,1.552913,0.322930,2313,19.233328,1285,55.555556,1.004768
3,1.014651,1.535030,0.349042,6879,57.201064,3792,55.124291,1.001196
4,0.957778,1.510825,0.365128,1986,16.514219,1008,50.755287,0.968118
5,0.993407,1.500348,0.370854,812,6.752037,433,53.325123,0.993407

## Score-based tables using percentile bands (Top 10% = Band 5)

This section creates bands from score columns using percentiles, isolating the safest top 10% as Band 5 and splitting the remaining 90% evenly into the other bands. It then aggregates the same performance metrics per band.

In [12]:
# Import percentile helpers
from pathlib import Path
import sys

project_root = Path("..").resolve()
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

from loonie_reporting import band_and_report_from_scores_percentiles

score_cols = [
    "IBVScore",
    "NDScore",
]

# ensure numeric scores (non-numeric coerced to NaN and ignored in banding)
for c in score_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")

for col in score_cols:
    if col not in df.columns:
        print(f"[skip] {col} not in df")
        continue

    print(f"\n=== Percentile bands for {col} (Band 5 = top 10%) ===")
    bands, table = band_and_report_from_scores_percentiles(
        df=df,
        score_col=col,
        num_bands=5,      # total bands (1 top 10% + 4 equal bands across remaining 90%)
        top_tail=0.05,    # top 10%
        higher_is_better=True,
        best_band_is_highest=True,
    )
    table.index.name = f"{col}_PercentileBand"
    display(table)

=== Percentile bands for IBVScore (Band 5 = top 10%) ===

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
IBVScore_PercentileBand,,,,,,,,
1,0.976247,1.558320,0.301886,2856,23.748545,1511,52.906162,1.005412
2,0.968516,1.527180,0.354588,2856,23.748545,1452,50.840336,1.014496
3,1.017819,1.524711,0.361549,2856,23.748545,1581,55.357143,1.035294
4,1.043394,1.525327,0.376367,2857,23.756860,1634,57.192860,1.049726
5,1.079824,1.525495,0.362736,601,4.997505,363,60.399334,1.079824

=== Percentile bands for NDScore (Band 5 = top 10%) ===

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
NDScore_PercentileBand,,,,,,,,
1,1.053431,1.564667,0.351288,2856,23.748545,1623,56.827731,1.005412
2,1.020207,1.538955,0.338830,2856,23.748545,1591,55.707283,0.990457
3,0.986388,1.508167,0.344628,2856,23.748545,1545,54.096639,0.977000
4,0.960462,1.521924,0.352864,2857,23.756860,1455,50.927546,0.969246
5,1.011004,1.517495,0.375075,601,4.997505,327,54.409318,1.011004

In [15]:
from loonie_reporting import band_and_report_from_scores_percentiles

# IBV percentiles (no ND filter)
ibv_bands, ibv_pct_tbl = band_and_report_from_scores_percentiles(
    df=df_ibv, score_col="IBVScore", num_bands=5, top_tail=0.10, higher_is_better=True, best_band_is_highest=True
)
display(ibv_pct_tbl)

# ND percentiles (drop 999)
nd_bands, nd_pct_tbl = band_and_report_from_scores_percentiles(
    df=df_nd, score_col="NDScore", num_bands=5, top_tail=0.10, higher_is_better=True, best_band_is_highest=True
)
display(nd_pct_tbl)

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
Band,,,,,,,,
1,1.032297,1.558155,0.313169,3831,22.503524,2186,57.060820,1.049107
2,1.018291,1.524198,0.362596,3830,22.497650,2108,55.039164,1.053988
3,1.043993,1.518184,0.368761,3830,22.497650,2206,57.597911,1.068590
4,1.078811,1.521180,0.380527,3831,22.503524,2310,60.297572,1.085616
5,1.100933,1.524884,0.377412,1702,9.997650,1056,62.044653,1.100933

,AvgPayin,GoodPayin,LowPayin,# Loans,Count Pct (%),# IsGood,IsGood Rate (%),Cumulative Payin ⬆️
Band,,,,,,,,
1,1.054042,1.566081,0.351013,2706,22.501247,1537,56.799704,1.005412
2,1.024892,1.539374,0.338220,2706,22.501247,1518,56.097561,0.991293
3,0.994179,1.508925,0.347389,2706,22.501247,1477,54.582409,0.977546
4,0.955295,1.529785,0.346514,2706,22.501247,1370,50.628234,0.966030
5,0.990197,1.503030,0.371513,1202,9.995011,639,53.161398,0.990197

## Exact score cutoffs for top 10% and top 5%

This computes the 90th and 95th percentile thresholds for each score column (higher = safer). Values ≥ the 90th/95th percentile are in the top 10%/5%.

In [10]:
import numpy as np
import pandas as pd

score_cols = ["IBVScore", "NDScore"]  # adjust if you have different score columns

for col in score_cols:
    if col not in df.columns:
        print(f"[skip] {col} not in df")
        continue

    s = pd.to_numeric(df[col], errors="coerce")
    n = int(s.notna().sum())
    if n == 0:
        print(f"[skip] {col} has no numeric values")
        continue

    p90 = s.quantile(0.90)
    p95 = s.quantile(0.95)

    print(f"\nScore cutoffs for {col} (higher = safer):")
    print(f"- 90th percentile (top 10%): {p90}")
    print(f"- 95th percentile (top 5%):  {p95}")
    print(f"- Non-null count: {n}")

Score cutoffs for IBVScore (higher = safer):
- 90th percentile (top 10%): 765.0
- 95th percentile (top 5%):  773.0
- Non-null count: 12026

Score cutoffs for NDScore (higher = safer):
- 90th percentile (top 10%): 748.0
- 95th percentile (top 5%):  779.0
- Non-null count: 12026

In [11]:
num_empty = (df['NDScore'] == 999).sum()  # here: tied to NDB["results"] == []
print("Unscorable (empty NDB results):", num_empty)
print(df['NDBand'].value_counts(dropna=False).sort_index())

Unscorable (empty NDB results): 0
NDBand
0.0      35
1.0       1
2.0    2313
3.0    6879
4.0    1986
5.0     812
NaN      55
Name: count, dtype: int64